<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Feminitive</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="{{ url_for('static', filename='woman.svg') }}" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    
  </head>
  <body class="bg-dark">
    <section class="navbar-header">
      <header class="navbar navbar-expand-md navbar-dark flex-row flex-nowrap bd-navbar fixed-top bg-dark border border-secondary rounded-sm">
        <nav class="navbar-nav-scroll d-flex justify-content-start w-100">
          <a href="{{ url_for('index') }}" class="navbar-brand">
            <img src="{{ url_for('static', filename='woman.svg') }}" width="30" height="30" class="d-inline-block align-top" alt="">
               Feminitive 
          </a>
        </nav>
        <nav class="navbar-nav-scroll d-flex justify-content-end w-100">
            {% from "navbar-active.html" import get_navbar_active_class%}
            {% if current_user.is_authenticated %}
            
            <a href="{{ url_for('profile') }}" class="navbar-link {{get_navbar_active_class(url_for('profile'))}}"> Profile </a>
  
            {% endif %} {% if not current_user.is_authenticated %}
            <a href="{{ url_for('login') }}" class="navbar-link {{get_navbar_active_class(url_for('login'))}}"> Login </a>
  
            <a href="{{ url_for('signup') }}" class="navbar-link {{get_navbar_active_class(url_for('signup'))}}"> Sign Up </a>
            {% endif %} {% if current_user.is_authenticated %}
  
            <a href="{{ url_for('logout') }}" class="navbar-link {{get_navbar_active_class(url_for('logout'))}}"> Logout </a>
            {% endif %}
        </nav>
        
      </header>
    </section>
    <section class='notification'>
      {% include "notification.html" %}
    </section>
    <section class="hero h-100">
        {% block hero %} {% endblock %}
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
